<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'erreur 404</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            background-color: #F4F4F4;
            color: #011126;
            font-family: Arial, sans-serif;
        }

        .error-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
        }

        .error-title {
            font-size: 4rem;
            margin-bottom: 1rem;
        }

        .error-message {
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
        }

        .error-link {
            color: #F2CB07;
            text-decoration: none;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="error-container">
        <h1 class="error-title">Erreur 404</h1>
        <p class="error-message">La page que vous recherchez est introuvable.</p>
        <p class="error-message">Retournez à la <a class="error-link" href="/">page d'accueil</a>.</p>
    </div>
</body>

</html>