<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=”canonical” href=”https://www.garage-vparrot.fr/”>
    <meta name="author" content="Sebastien Verslype" />
    <meta name="description" content="" /><!--TODO:finir description -->
    <meta name="”robots”" content="”index," follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1″ />

    <!-- Fonts Google-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&family=Kanit:wght@400;700&family=Metrophobic&display=swap"
        rel="stylesheet">
    <title>Garage Vincent Parrot</title>
</head>

<body>

    {% block content %}

    {% endblock content %}

</body>

</html>