{% extends "base.html.twig" %}
{% block content %}
<h1>Dashboard</h1>
<h3>Bonjour Mr {{ session.user['nom'] }}</h3>
<p>{{session.erreur}}</p>
<a href="/logout">Se deconnecter</a>
{% endblock content %}