{% extends "base.html.twig" %}

{% block content %}
<h1>ACCUEIL</h1>

{% for service in services %}
<h3>{{service.titre}}</h3>
<p>{{service.prix}} euro</p>
<p>{{service.description}}</p>
{% endfor %}
{% endblock content %}